<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    * {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
    }

    /* 
    
    1rem= 16px
    */

    html,
    body {
      height: 100%;
      width: 100%;
    }

    .searchSection {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-color: #72727231;
    }

    .searchSection .center {
      height: 70vh;
      width: 60vw;
      background-color: #fff;
      border-radius: 0.5rem;
    }

    .center input {
      width: 100%;
      background-color: #efefef;
      padding: 0.5rem 0.75rem;
      border: 1px solid rgb(125, 125, 125);
      outline: none;
      border-radius: 0.5rem;
    }
  </style>

</head>

<body>

  <div id="main" class="h-full w-full flex">
    <div class="left p-2 bg-stone-500 text-white">
      <div class="top">
        <div class="user flex gap-[1rem] items-center">
          <img class="h-[2.5rem] w-[2.5rem] object-cover rounded-full" src="<%= loggedInUser.profileImage %>" alt="">
          <h2><%= loggedInUser.username %></h2>
        </div>
      </div>
      <div class="bottom pt-4">
        <h4>Chats</h4>
        <div class="chats">
          <div class="chat">
            <div class="user flex gap-[1rem] items-center">
              <img class="h-[2rem] w-[2rem] object-cover rounded-full" src="https://images.pexels.com/photos/20142199/pexels-photo-20142199/free-photo-of-braune-stockente.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
              <h3>username</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="right"></div>

    <div class="searchSection">
      <div class="center">
        <input id="searchUserInput" type="text" placeholder="Search username">
        <div class="users"></div>
      </div>
    </div>

  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var socket = io();

    document.querySelector('#searchUserInput').addEventListener('input', async (event) => {
      const response = await axios.post('/searchUser', {
        data: document.querySelector("#searchUserInput").value
      })
    })
  </script>
</body>

</html>